In [102]:
import pandas as pd

In [103]:
df = pd.read_csv("./Data/dados_municipais_sal_emprego_rais_1985_2022.csv")
df = df[(df["ano"]>=2015) & (df["ano"]<=2022)]
df

        ano  id_municipio  avg_wage_dec  n_employ_dec
0      2022     1707306.0   1133.607298          1559
1      2022     1703883.0   1224.761455           301
2      2022     1717008.0   1666.783218           360
3      2022     1718808.0   1332.218031           187
4      2022     2207355.0    585.993449           299
...     ...           ...           ...           ...
44557  2015     3145307.0    891.652664          1401
44558  2015     3163102.0    872.894545           669
44559  2015     3169505.0    749.211631           394
44560  2015     3300951.0   1233.938041          3550
44561  2015     3303203.0   1119.338298         19797

[44562 rows x 4 columns]

In [104]:
pop = pd.read_csv("./Data/codigos_pop_municipios.csv")
pop = pop.rename({" CODIGO RAIS ": "id_municipio", ' POPULAÇÃO ESTIMADA ': "pop", "NOME DO MUNICÍPIO": "nome"}, axis=1)
pop

      UF  COD. UF  COD. MUNIC                   nome        pop  id_municipio
0     RO       11          15  Alta Floresta D'Oeste     22,516       1100015
1     RO       11          23              Ariquemes    111,148       1100023
2     RO       11          31                 Cabixi      5,067       1100031
3     RO       11          49                 Cacoal     86,416       1100049
4     RO       11          56             Cerejeiras     16,088       1100056
...   ..      ...         ...                    ...        ...           ...
5565  GO       52       22005             Vianópolis     14,088       5222005
5566  GO       52       22054         Vicentinópolis      9,002       5222054
5567  GO       52       22203               Vila Boa      6,451       5222203
5568  GO       52       22302          Vila Propício      5,941       5222302
5569  DF       53         108               Brasília  3,094,325       5300108

[5570 rows x 6 columns]

In [105]:
df = pd.merge(df, pop.loc[:, ["id_municipio", "pop", "nome"]], how="left", on=["id_municipio"])
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
44557,2015,3145307.0,891.652664,1401,"31,339",Novo Cruzeiro
44558,2015,3163102.0,872.894545,669,"5,151",São José da Varginha
44559,2015,3169505.0,749.211631,394,"6,797",Tumiritinga
44560,2015,3300951.0,1233.938041,3550,"8,590",Comendador Levy Gasparian
44561,2015,3303203.0,1119.338298,19797,"162,893",Nilópolis

In [106]:
df.dropna(inplace=True)
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
44557,2015,3145307.0,891.652664,1401,"31,339",Novo Cruzeiro
44558,2015,3163102.0,872.894545,669,"5,151",São José da Varginha
44559,2015,3169505.0,749.211631,394,"6,797",Tumiritinga
44560,2015,3300951.0,1233.938041,3550,"8,590",Comendador Levy Gasparian
44561,2015,3303203.0,1119.338298,19797,"162,893",Nilópolis

In [107]:
# df["pop"] = df["pop"].astype("string").map(lambda x:  x[:x.index("(")].replace(".", "") if "." in x else x.replace(",", "")).astype("int")
# df

In [108]:
# matching brumadinho
treated = [3109006, 3106705
            , 3162922, 3130101 ,3140159
            , 3136652, 3126000, 3147105, 3124104, 3163102, 3149606, 3126406, 3139706, 3146909, 3147402, 3152006
           ]

df_brum = df[df["id_municipio"].isin([3109006, 3118007, 3131901, 3133758, 3145901, 3151107 # brumad
                                   #,3106705, 3131307, 3136207, 3118601, 3168705, 3171204 # Betim
                                     #, 3162922, 3110509, 3142205, 3147303, 3151404, 3155801 # sao joaquim de bicas
                                     #, 3130101, 3110509, 3113206, 3171006, 3151404, 3147303 # Igarapé
                                     #,3140159, 3155405 # mário campos

                                    # , 3136652, 3106002, 3165537, 3158953, 3154804, 3145901 # juatuba
                                    # , 3126000, 3165404, 3164407, 3155306, 3154200, 3122900 # florestal
                                    # , 3147105, 3164704, 3101607, 3138203, 3133808, 3107406 # pará de minas
                                    # , 3124104, 3135100, 3131208, 3113305, 3121605, 3140159 # esmeraldas
                                    # , 3163102, 3131406, 3135902, 3164308, 3163904, 3130002 # sao jose da varginha
                                    # , 3149606, 3129905, 3138708, 3114709, 3125200, 3145505 # pequi
                                    # , 3126406, 3138302, 3106101, 3115904, 3145505, 3167905 # fortuna de minas
                                    # , 3139706, 3131000, 3152907, 3162203, 3166907, 3152600 # maravilhas
                                    # , 3146909, 3102308, 3120805, 3142205, 3169000, 3152709 # papagaios
                                    # , 3147402, 3147303, 3155801, 3110509, 3102308, 3142205 # paraopeba
                                    # , 3152006, 3114303, 3123601, 3100203, 3110301, 3162005 # pompeu
                                   ])]
df_brum

        ano  id_municipio  avg_wage_dec  n_employ_dec     pop           nome
1589   2022     3151107.0   1835.976400          2465  10,791    Pirapetinga
1936   2022     3145901.0   2594.410801         15052  40,220    Ouro Branco
3278   2022     3133758.0   1670.348480          3746  16,286  Itaú de Minas
3787   2022     3118007.0   2253.101481         18942  55,836      Congonhas
4908   2022     3109006.0   1981.351717         14070  41,208     Brumadinho
5205   2022     3131901.0   1941.650358         21807  52,996      Itabirito
5619   2021     3109006.0   1997.996567         11065  41,208     Brumadinho
8875   2021     3133758.0   1654.694354          3424  16,286  Itaú de Minas
9257   2021     3131901.0   1776.000036         19316  52,996      Itabirito
9687   2021     3145901.0   2501.488370         13573  40,220    Ouro Branco
10256  2021     3151107.0   1786.680465          2361  10,791    Pirapetinga
10638  2021     3118007.0   2125.571093         18067  55,836      Congonhas
12990  2020     3133758.0   1418.257924          3206  16,286  Itaú de Minas
13332  2020     3109006.0   1746.088921          9933  41,208     Brumadinho
13463  2020     3145901.0   2309.533388         12570  40,220    Ouro Branco
13693  2020     3151107.0   1601.560107          2181  10,791    Pirapetinga
14096  2020     3131901.0   1822.220305         18757  52,996      Itabirito
15660  2020     3118007.0   1999.930781         16644  55,836      Congonhas
18207  2019     3151107.0   1638.935435          2121  10,791    Pirapetinga
18845  2019     3145901.0   2267.202142         12491  40,220    Ouro Branco
18947  2019     3131901.0   1813.316039         15803  52,996      Itabirito
20099  2019     3133758.0   1364.423436          3279  16,286  Itaú de Minas
20739  2019     3118007.0   2086.470202         16863  55,836      Congonhas
21809  2019     3109006.0   1650.823264         10911  41,208     Brumadinho
22884  2018     3109006.0   1762.500882          9444  41,208     Brumadinho
23534  2018     3118007.0   2002.557409         17089  55,836      Congonhas
23702  2018     3131901.0   1957.374269         14475  52,996      Itabirito
25927  2018     3151107.0   1493.976069          2235  10,791    Pirapetinga
27351  2018     3145901.0   2301.605726         11534  40,220    Ouro Branco
27599  2018     3133758.0   1347.516413          2908  16,286  Itaú de Minas
27941  2017     3109006.0   1714.053205          8977  41,208     Brumadinho
28072  2017     3145901.0   2436.272778         11397  40,220    Ouro Branco
28219  2017     3131901.0   1703.525560         13733  52,996      Itabirito
29933  2017     3151107.0   1413.352484          2272  10,791    Pirapetinga
30214  2017     3118007.0   1896.856235         16650  55,836      Congonhas
32106  2017     3133758.0   1293.821610          2935  16,286  Itaú de Minas
33868  2016     3118007.0   1823.491360         15030  55,836      Congonhas
34518  2016     3145901.0   1937.777721         11646  40,220    Ouro Branco
34982  2016     3133758.0   1200.116904          3108  16,286  Itaú de Minas
35641  2016     3131901.0   1596.526837         13418  52,996      Itabirito
37382  2016     3109006.0   1657.345087          7939  41,208     Brumadinho
38982  2016     3151107.0   1353.411043          2062  10,791    Pirapetinga
40018  2015     3131901.0   1136.580193         13308  52,996      Itabirito
41433  2015     3151107.0   1301.409649          2275  10,791    Pirapetinga
41665  2015     3145901.0   1836.467444         14671  40,220    Ouro Branco
42704  2015     3109006.0   1431.858993          9240  41,208     Brumadinho
43269  2015     3118007.0   1425.051700         15193  55,836      Congonhas
43576  2015     3133758.0    984.321450          3327  16,286  Itaú de Minas

In [109]:
df_brum["treated_group"] = 0
df_brum.loc[df["id_municipio"].isin(treated), "treated_group"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_35652\727530500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_group"] = 0

In [110]:
df_brum["treated_group"]

1589     0
1936     0
3278     0
3787     0
4908     1
5205     0
5619     1
8875     0
9257     0
9687     0
10256    0
10638    0
12990    0
13332    1
13463    0
13693    0
14096    0
15660    0
18207    0
18845    0
18947    0
20099    0
20739    0
21809    1
22884    1
23534    0
23702    0
25927    0
27351    0
27599    0
27941    1
28072    0
28219    0
29933    0
30214    0
32106    0
33868    0
34518    0
34982    0
35641    0
37382    1
38982    0
40018    0
41433    0
41665    0
42704    1
43269    0
43576    0
Name: treated_group, dtype: int64

In [111]:
df_brum["treated_after_treatment"] = 0
df_brum.loc[(df_brum["treated_group"]) & (df_brum["ano"] >= 2019), "treated_after_treatment"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_35652\1647316685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_after_treatment"] = 0

In [112]:
df_brum["treated_after_treatment"]

1589     0
1936     0
3278     0
3787     0
4908     1
5205     0
5619     1
8875     0
9257     0
9687     0
10256    0
10638    0
12990    0
13332    1
13463    0
13693    0
14096    0
15660    0
18207    0
18845    0
18947    0
20099    0
20739    0
21809    1
22884    0
23534    0
23702    0
25927    0
27351    0
27599    0
27941    0
28072    0
28219    0
29933    0
30214    0
32106    0
33868    0
34518    0
34982    0
35641    0
37382    0
38982    0
40018    0
41433    0
41665    0
42704    0
43269    0
43576    0
Name: treated_after_treatment, dtype: int64

In [113]:
df_brum.to_csv("./Data/matching_nocov_brum.csv", index=False)