In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./Data/dados_municipais_sal_emprego_rais_1985_2022.csv")
df = df[(df["ano"]>=2015) & (df["ano"]<=2021)]
df

        ano  id_municipio  avg_wage_dec  n_employ_dec
5571   2021     2806404.0   2176.701949           611
5572   2021     1710508.0   1721.866773           423
5573   2021     1101757.0   1557.883325           770
5574   2021     2702108.0   1324.512997          2344
5575   2021     2706422.0   1499.669714           432
...     ...           ...           ...           ...
44557  2015     3145307.0    891.652664          1401
44558  2015     3163102.0    872.894545           669
44559  2015     3169505.0    749.211631           394
44560  2015     3300951.0   1233.938041          3550
44561  2015     3303203.0   1119.338298         19797

[38991 rows x 4 columns]

In [3]:
pop = pd.read_csv("./Data/pop_final.csv")
pop

,UF,COD. UF,COD. MUNIC,nome,pop,ano,id_municipio
0,RO,11.0,15.0,Alta Floresta D'Oeste,25578,2015,1100015.0
1,RO,11.0,379.0,Alto Alegre dos Parecis,13940,2015,1100379.0
2,RO,11.0,403.0,Alto Paraíso,20210,2015,1100403.0
3,RO,11.0,346.0,Alvorada D'Oeste,17063,2015,1100346.0
4,RO,11.0,23.0,Ariquemes,104401,2015,1100023.0
...,...,...,...,...,...,...,...
38985,GO,52.0,22005.0,Vianópolis,14088,2021,5222005.0
38986,GO,52.0,22054.0,Vicentinópolis,9002,2021,5222054.0
38987,GO,52.0,22203.0,Vila Boa,6451,2021,5222203.0
38988,GO,52.0,22302.0,Vila Propício,5941,2021,5222302.0
38989,DF,53.0,108.0,Brasília,3094325,2021,5300108.0

In [4]:
df = pd.merge(df, pop.loc[:, ["id_municipio", "ano", "pop", "nome"]], how="left", on=["id_municipio", "ano"])
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2021,2806404.0,2176.701949,611,7906,Santana do São Francisco
1,2021,1710508.0,1721.866773,423,7471,Itacajá
2,2021,1101757.0,1557.883325,770,11545,Vale do Anari
3,2021,2702108.0,1324.512997,2344,21935,Colônia Leopoldina
4,2021,2706422.0,1499.669714,432,10546,Pariconha
...,...,...,...,...,...,...
38986,2015,3145307.0,891.652664,1401,31803,Novo Cruzeiro
38987,2015,3163102.0,872.894545,669,4702,São José da Varginha
38988,2015,3169505.0,749.211631,394,6669,Tumiritinga
38989,2015,3300951.0,1233.938041,3550,8250,Comendador Levy Gasparian
38990,2015,3303203.0,1119.338298,19797,158309,Nilópolis

In [5]:
df.dropna(inplace=True)
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2021,2806404.0,2176.701949,611,7906,Santana do São Francisco
1,2021,1710508.0,1721.866773,423,7471,Itacajá
2,2021,1101757.0,1557.883325,770,11545,Vale do Anari
3,2021,2702108.0,1324.512997,2344,21935,Colônia Leopoldina
4,2021,2706422.0,1499.669714,432,10546,Pariconha
...,...,...,...,...,...,...
38986,2015,3145307.0,891.652664,1401,31803,Novo Cruzeiro
38987,2015,3163102.0,872.894545,669,4702,São José da Varginha
38988,2015,3169505.0,749.211631,394,6669,Tumiritinga
38989,2015,3300951.0,1233.938041,3550,8250,Comendador Levy Gasparian
38990,2015,3303203.0,1119.338298,19797,158309,Nilópolis

In [6]:
# df["pop"] = df["pop"].astype("string").map(lambda x:  x[:x.index("(")].replace(".", "") if "." in x else x.replace(",", "")).astype("int")
# df

In [7]:
# matching brumadinho
treated = [3109006, 3106705
        #    , 3162922, 3130101
        #    , 3136652, 3126000, 3147105, 3124104, 3163102, 3149606, 3126406, 3139706, 3146909, 3147402, 3152006
           ]

df_brum = df[df["id_municipio"].isin([3109006, 3118007, 3131901, 3133758, 3145901, 3151107 # brumad
                                   ,3106705, 3131307, 3136207, 3118601, 3168705, 3171204 # Betim
                                #     , 3162922, 3110509, 3142205, 3147303, 3151404, 3155801 # sao joaquim de bicas
                                #     , 3130101, 3110509, 3113206, 3171006, 3151404, 3147303 # Igarapé

                                    # , 3136652, 3106002, 3165537, 3158953, 3154804, 3145901 # juatuba
                                    # , 3126000, 3165404, 3164407, 3155306, 3154200, 3122900 # florestal
                                    # , 3147105, 3164704, 3101607, 3138203, 3133808, 3107406 # pará de minas
                                    # , 3124104, 3135100, 3131208, 3113305, 3121605, 3140159 # esmeraldas
                                    # , 3163102, 3131406, 3135902, 3164308, 3163904, 3130002 # sao jose da varginha
                                    # , 3149606, 3129905, 3138708, 3114709, 3125200, 3145505 # pequi
                                    # , 3126406, 3138302, 3106101, 3115904, 3145505, 3167905 # fortuna de minas
                                    # , 3139706, 3131000, 3152907, 3162203, 3166907, 3152600 # maravilhas
                                    # , 3146909, 3102308, 3120805, 3142205, 3169000, 3152709 # papagaios
                                    # , 3147402, 3147303, 3155801, 3110509, 3102308, 3142205 # paraopeba
                                    # , 3152006, 3114303, 3123601, 3100203, 3110301, 3162005 # pompeu
                                   ])]
df_brum

        ano  id_municipio  avg_wage_dec  n_employ_dec     pop            nome
48     2021     3109006.0   1997.996567         11065   41208      Brumadinho
658    2021     3106705.0   2158.566972        113746  450024           Betim
1679   2021     3168705.0   1870.389209         17813   91268         Timóteo
3304   2021     3133758.0   1654.694354          3424   16286   Itaú de Minas
3686   2021     3131901.0   1776.000036         19316   52996       Itabirito
...     ...           ...           ...           ...     ...             ...
37008  2015     3136207.0   1090.999709         17364   78583  João Monlevade
37133  2015     3109006.0   1431.858993          9240   37857      Brumadinho
37698  2015     3118007.0   1425.051700         15193   52827       Congonhas
38005  2015     3133758.0    984.321450          3327   15897   Itaú de Minas
38513  2015     3171204.0   1374.863841         17088  118557      Vespasiano

[84 rows x 6 columns]

In [8]:
df_brum["treated_group"] = 0
df_brum.loc[df["id_municipio"].isin(treated), "treated_group"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_44212\727530500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_group"] = 0

In [9]:
df_brum["treated_group"]

48       1
658      1
1679     0
3304     0
3686     0
        ..
37008    0
37133    1
37698    0
38005    0
38513    0
Name: treated_group, Length: 84, dtype: int64

In [10]:
df_brum["treated_after_treatment"] = 0
df_brum.loc[(df_brum["treated_group"]) & (df_brum["ano"] >= 2019), "treated_after_treatment"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_44212\1647316685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_after_treatment"] = 0

In [11]:
df_brum["treated_after_treatment"]

48       1
658      1
1679     0
3304     0
3686     0
        ..
37008    0
37133    0
37698    0
38005    0
38513    0
Name: treated_after_treatment, Length: 84, dtype: int64

In [12]:
df_brum.to_csv("./Data/matching_cov_brum.csv", index=False)