In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("./Data/dados_municipais_sal_emprego_rais_1985_2022.csv")
df = df[(df["ano"]>=2015) & (df["ano"]<=2022)]
df

        ano  id_municipio  avg_wage_dec  n_employ_dec
0      2022     1707306.0   1133.607298          1559
1      2022     1703883.0   1224.761455           301
2      2022     1717008.0   1666.783218           360
3      2022     1718808.0   1332.218031           187
4      2022     2207355.0    585.993449           299
...     ...           ...           ...           ...
44557  2015     3145307.0    891.652664          1401
44558  2015     3163102.0    872.894545           669
44559  2015     3169505.0    749.211631           394
44560  2015     3300951.0   1233.938041          3550
44561  2015     3303203.0   1119.338298         19797

[44562 rows x 4 columns]

In [10]:
pop = pd.read_csv("./Data/codigos_pop_municipios.csv")
pop = pop.rename({" CODIGO RAIS ": "id_municipio", ' POPULAÇÃO ESTIMADA ': "pop", "NOME DO MUNICÍPIO": "nome"}, axis=1)
pop

      UF  COD. UF  COD. MUNIC                   nome        pop  id_municipio
0     RO       11          15  Alta Floresta D'Oeste     22,516       1100015
1     RO       11          23              Ariquemes    111,148       1100023
2     RO       11          31                 Cabixi      5,067       1100031
3     RO       11          49                 Cacoal     86,416       1100049
4     RO       11          56             Cerejeiras     16,088       1100056
...   ..      ...         ...                    ...        ...           ...
5565  GO       52       22005             Vianópolis     14,088       5222005
5566  GO       52       22054         Vicentinópolis      9,002       5222054
5567  GO       52       22203               Vila Boa      6,451       5222203
5568  GO       52       22302          Vila Propício      5,941       5222302
5569  DF       53         108               Brasília  3,094,325       5300108

[5570 rows x 6 columns]

In [11]:
df = pd.merge(df, pop.loc[:, ["id_municipio", "pop", "nome"]], how="left", on=["id_municipio"])
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
44557,2015,3145307.0,891.652664,1401,"31,339",Novo Cruzeiro
44558,2015,3163102.0,872.894545,669,"5,151",São José da Varginha
44559,2015,3169505.0,749.211631,394,"6,797",Tumiritinga
44560,2015,3300951.0,1233.938041,3550,"8,590",Comendador Levy Gasparian
44561,2015,3303203.0,1119.338298,19797,"162,893",Nilópolis

In [12]:
df.dropna(inplace=True)
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
44557,2015,3145307.0,891.652664,1401,"31,339",Novo Cruzeiro
44558,2015,3163102.0,872.894545,669,"5,151",São José da Varginha
44559,2015,3169505.0,749.211631,394,"6,797",Tumiritinga
44560,2015,3300951.0,1233.938041,3550,"8,590",Comendador Levy Gasparian
44561,2015,3303203.0,1119.338298,19797,"162,893",Nilópolis

In [13]:
# df["pop"] = df["pop"].astype("string").map(lambda x:  x[:x.index("(")].replace(".", "") if "." in x else x.replace(",", "")).astype("int")
# df

In [14]:
# matching brumadinho
treated = [3109006, 3106705
            , 3162922, 3130101 ,3140159
            , 3136652, 3126000, 3147105, 3124104, 3163102, 3149606, 3126406, 3139706, 3146909, 3147402, 3152006
           ]

df_brum = df[df["id_municipio"].isin([
    #3109006, 3118007, 3131901, 3133758, 3145901, 3151107 # brumad
                                   #,
                                   3106705, 3131307, 3136207, 3118601, 3168705, 3171204 # Betim
                                     , 3162922, 3110509, 3142205, 3147303, 3151404, 3155801 # sao joaquim de bicas
                                     , 3130101, 3110509, 3113206, 3171006, 3151404, 3147303 # Igarapé
                                     ,3140159, 3155405, 3151008, 3154101, 3120805, 3169208 # mário campos

                                    # , 3136652, 3106002, 3165537, 3158953, 3154804, 3145901 # juatuba
                                    # , 3126000, 3165404, 3164407, 3155306, 3154200, 3122900 # florestal
                                    # , 3147105, 3164704, 3101607, 3138203, 3133808, 3107406 # pará de minas
                                    # , 3124104, 3135100, 3131208, 3113305, 3121605, 3140159 # esmeraldas
                                    # , 3163102, 3131406, 3135902, 3164308, 3163904, 3130002 # sao jose da varginha
                                    # , 3149606, 3129905, 3138708, 3114709, 3125200, 3145505 # pequi
                                    # , 3126406, 3138302, 3106101, 3115904, 3145505, 3167905 # fortuna de minas
                                    # , 3139706, 3131000, 3152907, 3162203, 3166907, 3152600 # maravilhas
                                    # , 3146909, 3102308, 3120805, 3142205, 3169000, 3152709 # papagaios
                                    # , 3147402, 3147303, 3155801, 3110509, 3102308, 3142205 # paraopeba
                                    # , 3152006, 3114303, 3123601, 3100203, 3110301, 3162005 # pompeu
                                   ])]
df_brum

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
110,2022,3140159.0,1131.711248,2103,"15,814",Mário Campos
323,2022,3136207.0,1660.801087,22676,"80,903",João Monlevade
446,2022,3155801.0,2044.538924,3597,"18,007",Rio Pomba
978,2022,3147303.0,1772.166846,5629,"21,353",Paraisópolis
982,2022,3120805.0,1470.498245,3184,"15,529",Cruzília
...,...,...,...,...,...,...
43037,2015,3140159.0,965.574924,1472,"15,814",Mário Campos
43078,2015,3155801.0,1502.587401,3250,"18,007",Rio Pomba
44027,2015,3155405.0,863.494310,1245,"8,964",Rio Novo
44084,2015,3171204.0,1374.863841,17088,"131,849",Vespasiano
44445,2015,3162922.0,1322.441719,6105,"32,696",São Joaquim de Bicas

In [15]:
df_brum["treated_group"] = 0
df_brum.loc[df["id_municipio"].isin(treated), "treated_group"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_47572\727530500.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_group"] = 0

In [16]:
df_brum["treated_group"]

110      1
323      0
446      0
978      0
982      0
        ..
43037    1
43078    0
44027    0
44084    0
44445    1
Name: treated_group, Length: 168, dtype: int64

In [17]:
df_brum["treated_after_treatment"] = 0
df_brum.loc[(df_brum["treated_group"]) & (df_brum["ano"] >= 2019), "treated_after_treatment"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_47572\1647316685.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_brum["treated_after_treatment"] = 0

In [18]:
df_brum["treated_after_treatment"]

110      1
323      0
446      0
978      0
982      0
        ..
43037    0
43078    0
44027    0
44084    0
44445    0
Name: treated_after_treatment, Length: 168, dtype: int64

In [19]:
df_brum.to_csv("./Data/matching_nocov_brum_group_2.csv", index=False)