In [25]:
import pandas as pd

In [26]:
df = pd.read_csv("./Data/dados_municipais_sal_emprego_rais_1985_2022.csv")
df = df[(df["ano"]>=2011) & (df["ano"]<=2022)]
df

        ano  id_municipio  avg_wage_dec  n_employ_dec
0      2022     1707306.0   1133.607298          1559
1      2022     1703883.0   1224.761455           301
2      2022     1717008.0   1666.783218           360
3      2022     1718808.0   1332.218031           187
4      2022     2207355.0    585.993449           299
...     ...           ...           ...           ...
66827  2011     3534302.0   1089.901056         11186
66828  2011     3514908.0    856.226801          4876
66829  2011     3532207.0   1073.872243          1147
66830  2011     3503158.0    881.710623           413
66831  2011     3541208.0    818.201996          2161

[66832 rows x 4 columns]

In [27]:
pop = pd.read_csv("./Data/codigos_pop_municipios.csv")
pop = pop.rename({" CODIGO RAIS ": "id_municipio", ' POPULAÇÃO ESTIMADA ': "pop", "NOME DO MUNICÍPIO": "nome"}, axis=1)
pop

      UF  COD. UF  COD. MUNIC                   nome        pop  id_municipio
0     RO       11          15  Alta Floresta D'Oeste     22,516       1100015
1     RO       11          23              Ariquemes    111,148       1100023
2     RO       11          31                 Cabixi      5,067       1100031
3     RO       11          49                 Cacoal     86,416       1100049
4     RO       11          56             Cerejeiras     16,088       1100056
...   ..      ...         ...                    ...        ...           ...
5565  GO       52       22005             Vianópolis     14,088       5222005
5566  GO       52       22054         Vicentinópolis      9,002       5222054
5567  GO       52       22203               Vila Boa      6,451       5222203
5568  GO       52       22302          Vila Propício      5,941       5222302
5569  DF       53         108               Brasília  3,094,325       5300108

[5570 rows x 6 columns]

In [28]:
df = pd.merge(df, pop.loc[:, ["id_municipio", "pop", "nome"]], how="left", on=["id_municipio"])
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
66827,2011,3534302.0,1089.901056,11186,"44,682",Orlândia
66828,2011,3514908.0,856.226801,4876,"18,095",Elias Fausto
66829,2011,3532207.0,1073.872243,1147,"4,950",Narandiba
66830,2011,3503158.0,881.710623,413,"2,452",Arapeí
66831,2011,3541208.0,818.201996,2161,"12,943",Presidente Bernardes

In [29]:
df.dropna(inplace=True)
df

,ano,id_municipio,avg_wage_dec,n_employ_dec,pop,nome
0,2022,1707306.0,1133.607298,1559,"4,686",Dueré
1,2022,1703883.0,1224.761455,301,"2,627",Carmolândia
2,2022,1717008.0,1666.783218,360,"4,414",Pindorama do Tocantins
3,2022,1718808.0,1332.218031,187,"4,876",Sampaio
4,2022,2207355.0,585.993449,299,"3,416",Pajeú do Piauí
...,...,...,...,...,...,...
66827,2011,3534302.0,1089.901056,11186,"44,682",Orlândia
66828,2011,3514908.0,856.226801,4876,"18,095",Elias Fausto
66829,2011,3532207.0,1073.872243,1147,"4,950",Narandiba
66830,2011,3503158.0,881.710623,413,"2,452",Arapeí
66831,2011,3541208.0,818.201996,2161,"12,943",Presidente Bernardes

In [30]:
# df["pop"] = df["pop"].astype("string").map(lambda x:  x[:x.index("(")].replace(".", "") if "." in x else x.replace(",", "")).astype("int")
# df

In [31]:
# matching mariana
treated = [3140001, 3105707, 3157401, 3155009
          ]

df_mar = df[df["id_municipio"].isin([3140001, 3145901, 3131703, 3144805, 3155702, 3125101 # Mariana
                                    #   , 3105707, 3164472, 3133907, 3120839, 3102506, 3141504 # Barra Longa
                                    #   , 3157401, 3112653, 3121001, 3106804, 3123304, 3140407 # santa cruz do escalvado
                                    #   , 3155009, 3164902, 3165602, 3147501, 3124609, 3156205 # rio doce
                                   ])]
df_mar

        ano  id_municipio  avg_wage_dec  n_employ_dec      pop            nome
318    2022     3144805.0   2637.312604         64973   97,378       Nova Lima
1351   2022     3131703.0   1824.957828         36018  121,717         Itabira
1936   2022     3145901.0   2594.410801         15052   40,220     Ouro Branco
2325   2022     3140001.0   1897.358329         20961   61,830         Mariana
3561   2022     3155702.0   1810.408516          2851   14,325  Rio Piracicaba
...     ...           ...           ...           ...      ...             ...
62930  2011     3144805.0   1355.733967         40007   97,378       Nova Lima
63583  2011     3131703.0   1505.338861         39039  121,717         Itabira
64513  2011     3155702.0    762.006435          1479   14,325  Rio Piracicaba
64808  2011     3125101.0    875.450863         12899   37,649         Extrema
64809  2011     3140001.0    957.550547         11840   61,830         Mariana

[72 rows x 6 columns]

In [32]:
df_mar["treated_group"] = 0
df_mar.loc[df["id_municipio"].isin(treated), "treated_group"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_47152\1439280028.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mar["treated_group"] = 0

In [33]:
df_mar["treated_group"]

318      0
1351     0
1936     0
2325     1
3561     0
        ..
62930    0
63583    0
64513    0
64808    0
64809    1
Name: treated_group, Length: 72, dtype: int64

In [34]:
df_mar["treated_after_treatment"] = 0
df_mar.loc[(df_mar["treated_group"]) & (df_mar["ano"] >= 2015), "treated_after_treatment"] = 1

C:\Users\joaom\AppData\Local\Temp\ipykernel_47152\460357465.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mar["treated_after_treatment"] = 0

In [35]:
df_mar.loc[(df_mar["treated_group"]) & (df_mar["ano"] >= 2019), "treated_after_treatment"] = 1
["treated_after_treatment"]

['treated_after_treatment']

In [36]:
df_mar.to_csv("./Data/matching_nocov_mar.csv", index=False)