In [21]:
import pandas as pd

In [22]:
for i in range(2015, 2022):
    df = pd.read_excel(f"./Data/pop_{i}.xls")
    df["ano"] = i
    if i == 2015:
        pop = df
    else:
        pop = pd.concat([pop, df])

pop

,UF,COD. UF,COD. MUNIC,NOME DO MUNICÍPIO,POPULAÇÃO ESTIMADA,ano
0,RO,11.0,15.0,Alta Floresta D'Oeste,25578,2015
1,RO,11.0,379.0,Alto Alegre dos Parecis,13940,2015
2,RO,11.0,403.0,Alto Paraíso,20210,2015
3,RO,11.0,346.0,Alvorada D'Oeste,17063,2015
4,RO,11.0,23.0,Ariquemes,104401,2015
...,...,...,...,...,...,...
5565,GO,52.0,22005.0,Vianópolis,14088,2021
5566,GO,52.0,22054.0,Vicentinópolis,9002,2021
5567,GO,52.0,22203.0,Vila Boa,6451,2021
5568,GO,52.0,22302.0,Vila Propício,5941,2021
5569,DF,53.0,108.0,Brasília,3094325,2021

In [23]:
pop.dropna(inplace=True)

In [24]:
pop["id_municipio"] = pop["COD. MUNIC"] + (pop["COD. UF"] * 100000)

In [28]:
pop = pop.rename({'POPULAÇÃO ESTIMADA': "pop", "NOME DO MUNICÍPIO": "nome"}, axis=1)

In [29]:
pop

,UF,COD. UF,COD. MUNIC,nome,pop,ano,id_municipio
0,RO,11.0,15.0,Alta Floresta D'Oeste,25578,2015,1100015.0
1,RO,11.0,379.0,Alto Alegre dos Parecis,13940,2015,1100379.0
2,RO,11.0,403.0,Alto Paraíso,20210,2015,1100403.0
3,RO,11.0,346.0,Alvorada D'Oeste,17063,2015,1100346.0
4,RO,11.0,23.0,Ariquemes,104401,2015,1100023.0
...,...,...,...,...,...,...,...
5565,GO,52.0,22005.0,Vianópolis,14088,2021,5222005.0
5566,GO,52.0,22054.0,Vicentinópolis,9002,2021,5222054.0
5567,GO,52.0,22203.0,Vila Boa,6451,2021,5222203.0
5568,GO,52.0,22302.0,Vila Propício,5941,2021,5222302.0
5569,DF,53.0,108.0,Brasília,3094325,2021,5300108.0

In [30]:
pop.to_csv("./Data/pop_final.csv", index=False)