In [1]:
import basedosdados as bd
import pandas as pd
from paths import manipulated_data_path, project_name
import os

In [5]:
query = """
          SELECT ano AS ANO, 
                sigla_uf AS SIGLA_UF,  
                id_municipio AS COD_MUN,
                SUM(quantidade_vinculos_ativos) AS VINCULOS_ATIVOS,
                SUM(quantidade_vinculos_clt) AS VINCULOS_CLT,
                SUM(quantidade_vinculos_estatutarios) AS VINCULOS_ESTATUTARIOS,
                COUNT(*) AS NUM_FIRMAS, 

         FROM `basedosdados.br_me_rais.microdados_estabelecimentos`

         WHERE sigla_uf = 'MG' AND ano >= 2002
         
         GROUP BY ano, sigla_uf, id_municipio
         
         ORDER BY ano, id_municipio
         """

In [6]:
rais_estabelecimentos_df = bd.read_sql(query=query,
                    billing_project_id=project_name)

Downloading: 100%|██████████|

In [7]:
rais_estabelecimentos_df.head()

,ANO,SIGLA_UF,COD_MUN,VINCULOS_ATIVOS,VINCULOS_CLT,VINCULOS_ESTATUTARIOS,NUM_FIRMAS
0,2002,MG,3100104,784,547,237,203
1,2002,MG,3100203,2839,2186,653,1168
2,2002,MG,3100302,888,486,402,397
3,2002,MG,3100401,271,266,5,110
4,2002,MG,3100500,411,162,249,186

In [8]:
rais_estabelecimentos_df.to_csv(os.path.join(manipulated_data_path, 'rais_estabelecimentos_municipios.csv'), index=False)