In [1]:
import basedosdados as bd
import pandas as pd
from paths import manipulated_data_path, project_name
import os

In [ ]:
#query = """
#         SELECT ano, sigla_uf, id_municipio, tipo_vinculo, vinculo_ativo_3112, motivo_desligamento, id_municipio_trabalho,
#                    valor_remuneracao_media, valor_remuneracao_dezembro, tipo_salario, subatividade_ibge, subsetor_ibge, 
#                    cbo_2002, grau_instrucao_apos_2005, sexo, raca_cor,
#         FROM `basedosdados.br_me_rais.microdados_vinculos`
#         WHERE sigla_uf = 'MG' AND ano >= 2002
#         """
#

In [ ]:

#rais_vinculos_df = bd.read_sql(query=query,
#                    billing_project_id="tcc-fea")

Downloading:   1%|          |

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x0000026CC278C440>>
Traceback (most recent call last):
  File "c:\Users\joaom\OneDrive\Área de Trabalho\CODE\economics\Brumadinho\New_code\venv\Lib\site-packages\ipykernel\ipkernel.py", line 796, in _clean_thread_parent_frames
    active_threads = {thread.ident for thread in threading.enumerate()}
  File "C:\Program Files\Python313\Lib\threading.py", line 1477, in enumerate
    def enumerate():
KeyboardInterrupt:

Downloading:   1%|          |

In [2]:
#query = """
#         SELECT ano, sigla_uf, id_municipio, id_municipio_trabalho,
#                    AVG(valor_remuneracao_media), AVG(valor_remuneracao_janeiro), AVG(valor_remuneracao_fevereiro), AVG(valor_remuneracao_marco),
#                    AVG(valor_remuneracao_abril), AVG(valor_remuneracao_maio), AVG(valor_remuneracao_junho), AVG(valor_remuneracao_julho), 
#                    AVG(valor_remuneracao_agosto), AVG(valor_remuneracao_setembro), AVG(valor_remuneracao_outubro), AVG(valor_remuneracao_novembro), 
#                    AVG(valor_remuneracao_dezembro), 
#         
#         FROM `basedosdados.br_me_rais.microdados_vinculos`
#         
#         WHERE sigla_uf = 'MG' AND ano >= 2002
#         
#         GROUP BY ano, id_municipio
#         
#         ORDER BY ano, id_municipio
#         
#         """

query = """
         SELECT ano AS ANO, 
                sigla_uf AS SIGLA_UF,  
                id_municipio AS COD_MUN,
                AVG(valor_remuneracao_dezembro) AS REMUNERACAO_DEZEMBRO, 
         
         FROM `basedosdados.br_me_rais.microdados_vinculos`
         
         WHERE sigla_uf = 'MG' AND ano >= 2002 AND valor_remuneracao_dezembro IS NOT NULL AND valor_remuneracao_dezembro <> 0
         
         GROUP BY ano, sigla_uf, id_municipio
         
         ORDER BY ano, id_municipio
         
         """

In [3]:
rais_vinculos_dez_df = bd.read_sql(query=query,
                    billing_project_id=project_name)

Downloading: 100%|██████████|

In [4]:
rais_vinculos_dez_df.head()

    ANO SIGLA_UF  COD_MUN  REMUNERACAO_DEZEMBRO
0  2002       MG  3100104            278.057374
1  2002       MG  3100203            454.784935
2  2002       MG  3100302            376.229035
3  2002       MG  3100401            378.789053
4  2002       MG  3100500            420.993741

In [5]:
query = """
         SELECT ano AS ANO, 
                sigla_uf AS SIGLA_UF,  
                id_municipio AS COD_MUN,
                AVG(valor_remuneracao_media) AS REMUNERACAO_MEDIA,
         
         FROM `basedosdados.br_me_rais.microdados_vinculos`
         
         WHERE sigla_uf = 'MG' AND ano >= 2002 AND valor_remuneracao_media IS NOT NULL AND valor_remuneracao_media <> 0
         
         GROUP BY ano, sigla_uf, id_municipio
         
         ORDER BY ano, id_municipio
         
         """

In [6]:
rais_vinculos_med_df = bd.read_sql(query=query,
                    billing_project_id=project_name)

Downloading: 100%|██████████|

In [7]:
rais_vinculos_med_df.head()

    ANO SIGLA_UF  COD_MUN  REMUNERACAO_MEDIA
0  2002       MG  3100104         272.281777
1  2002       MG  3100203         428.499585
2  2002       MG  3100302         377.907056
3  2002       MG  3100401         385.626253
4  2002       MG  3100500         352.933965

In [8]:
rais_vinculos_df = pd.merge(rais_vinculos_dez_df, rais_vinculos_med_df, how='left', on=['ANO', 'SIGLA_UF', 'COD_MUN'])

In [9]:
rais_vinculos_df.head()

    ANO SIGLA_UF  COD_MUN  REMUNERACAO_DEZEMBRO  REMUNERACAO_MEDIA
0  2002       MG  3100104            278.057374         272.281777
1  2002       MG  3100203            454.784935         428.499585
2  2002       MG  3100302            376.229035         377.907056
3  2002       MG  3100401            378.789053         385.626253
4  2002       MG  3100500            420.993741         352.933965

In [11]:
rais_vinculos_df.to_csv(os.path.join(manipulated_data_path, 'rais_vinculos_municipios.csv'), index=False)